*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
main{
    font-family: "Heebo" , sans-serif;
}

.landing{
    min-height: 100vh;
    background:url('hero.jpg') ;
    background-size: cover;
    padding:0rem 5rem;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.navLinks{
    display: flex;
    list-style:none;
}
.navLinks li{
    padding-left:10rem ;
    font-size: 1.2rem;
}
#logo{
    font-family:"Lobster" , cursive;
    font-weight: lighter;
    font-size: 2rem;
}
.bigText{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50% , -30%);
    font-size: 4rem;
    font-family: "Lobster" , cursive;
    color:rgb(61,61,61);
}
.intro{
    /* background: black; */
    background:rgb(118, 79, 102);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    background: rgb(165, 159, 230);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
   transform: translateY(100%);
}
.introText{
    color:rgb(233,233,233);
    /* color:black; */
    font-family: "Heebo" , sans-serif;
    font-size:3rem;
}
.hide{
    background:rgb(118, 79, 102);
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}